<h1> Title: <%= @list.title %> </h1>
<h3>Incomplete BucketList Items</h3>
<ol>
<% @incomplete_items.each do |item| %>
  <li>
    <%= form_for :item, url: {action: 'update'}, method: :patch do |f| %>

      <%= f.check_box :complete  %>
      <%= item.task %>
      <%= f.submit %>
    <% end %>
  </li>
<% end %>
</ol>

<h3>Complete BucketList Items</h3>
<ol>
<% @complete_items.each do |item| %>
  <li>
  <%= item.task %>
  </li>
<% end %>
<ol><br>



<div class="item-container">
<%= form_for :item, url: list_items_path(list_id: @list.id) do |f| %>

  <div>
    <%= f.label :task %>
    <%= f.text_field :task %>
  </div>

  <div>
    <%= f.submit "Add items to the Bucket List!" %>
  </div>

<% end %>
</div>
